body {
  padding-top: 50px;
  margin: 0;
  background: url(img/background.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.cmd { 
  visibility: hidden; 
  display: none; 
}

/* Buttons */
.btn-primary{
  border-color: #696969;
  background-color: rgba(152, 152, 152, 0.51);
}

/* adding battery widget */

.battery {
  width: 100px;
  height: 40px;
  border: 5px solid #000;
  margin: 50px auto 50px;
  position: relative;
  background-color: #fff;
}

.battery:after {
  content: '';
  display: block;
  width: 10px;
  height: 20px;
  background-color: #000;
  position: absolute;
  right: -12px;
  top: 6px;
}

.battery .level {
    height: 100%;
    width: 2%;
}
.battery .level.high {
    background-color: #27AE60;  
}
.battery .level.med {
    background-color: #E67E22;  
}
.battery .level.low {
    background-color: #E74C3C;  
}
.battery .level.charging {
    background-color: #27AE60;  
    width: 100%;
    text-align: center;
}
.battery .level.charging:before {
    content: '\e800';
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-family: 'Battery';
    font-size: 25px;
}

